/* Founders Grotesk Font Family */

/* Light - 300 */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-light-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular - 400 */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Medium - 500 */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Semibold - 600 */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-semibold-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Bold - 700 */
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders-grotesk/founders-grotesk-bold-italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* X-Condensed Medium */
@font-face {
    font-family: 'Founders Grotesk X-Condensed';
    src: url('../fonts/founders-grotesk/founders-grotesk-x-condensed-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* X-Condensed Semibold */
@font-face {
    font-family: 'Founders Grotesk X-Condensed';
    src: url('../fonts/founders-grotesk/founders-grotesk-x-condensed-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Mono Regular */
@font-face {
    font-family: 'Founders Grotesk Mono';
    src: url('../fonts/founders-grotesk/founders-grotesk-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
